:root {
  --tomato: hsl(4, 100%, 67%);
  --dark-slate-grey: hsl(234, 29%, 20%);
  --charcoal-grey: hsl(235, 18%, 26%);
  --grey: hsl(231, 7%, 60%);
  --white: hsl(0, 0%, 100%);
}

@font-face {
  font-family: "Roboto-Bold";
  src: url("assets/fonts/Roboto-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto-Regular";
  src: url("assets/fonts/Roboto-Regular.ttf") format("truetype");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--charcoal-grey);
  font-family: "Roboto-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  /* line-height: 1.5; */
}

p {
  line-height: 1.2;
}

.card {
  padding: 20px;
  background-color: var(--white);
  max-width: 65%;
  border: none !important;
}

.content > div:first-child {
  padding: 2rem;
}

h1.card-title {
  font-family: "Roboto-Bold", sans-serif;
  color: var(--dark-slate-grey);
  margin-top: 25px;
  font-size: 3.8rem;
  font-weight: 700;
}

ul.list-unstyled {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 2rem;
}

.list-unstyled li {
  margin-bottom: 10px;
  display: flex;
}

.list-unstyled img {
  margin-right: 10px;
}

span.error-message {
  color: var(--tomato);
  font-size: 0.8rem;
  font-family: "Roboto-Bold", sans-serif;
}

#email,
button[type="submit"] {
  width: 100%;
}

#email {
  padding: 15px;
  border: 1px solid var(--grey);
  border-radius: 5px;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  width: 100%;
}

#email:focus {
  outline: none;
  border: 1.5px solid var(--dark-slate-grey);
}

button[type="submit"] {
  font-family: "Roboto-Bold", sans-serif;
  background-color: var(--dark-slate-grey);
  color: var(--white);
  font-weight: 700;
  padding: 15px;
  width: 100%;
  margin-top: 15px;
  border: none;
  border-radius: 5px;
}

button[type="submit"]:hover {
  background-color: var(--tomato);
  transition: all 0.5s;
  cursor: pointer;
}

.attribution {
  font-size: 11px;
  text-align: center;
  color: hsl(228, 45%, 44%);
}

#illustration {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

#signup-form {
  display: flex;
  flex-direction: column;
  /* margin-top: 6rem; */
  /* gap: 0.4rem; */
}

#signup-form label {
  font-family: "Roboto-Bold", sans-serif;
  font-size: 0.8rem;
  color: var(--dark-slate-grey);
  margin-bottom: 5px;
}

@media (min-width: 768px) and (max-width: 1300px) {
  .card {
    max-width: 85%;
  }

  h1.card-title {
    font-size: 3rem;
  }
}

@media (max-width: 767px) {
  h1.card-title {
    font-size: 2.5rem;
  }

  .card {
    max-width: 90%;
  }

  .content {
    padding: 0;
  }

  .content > div:nth-child(1) {
    padding: 0;
  }
}


@media (max-width: 575px) {
  h1.card-title {
    font-size: 2rem;
  }

  .content div:nth-child(2) {
    display: none;
  }
  .card {
    max-width: 100% !important;
    border-radius: unset !important;
  }

  .card {
    flex: 1;
  }

  .card-body {
    font-size: 0.8rem;
  }

  .card-body > ul {
    gap: 0;
  }

  #illustration {
    width: 100vw;
    border-radius: 0 !important;
    border-bottom-left-radius: 0.6rem !important;
    border-bottom-right-radius: 0.6rem !important;
    height: 30vh;
    margin: -20px;
  }

  body:not(#success-root) {
    justify-content: unset;
  }

  body#success-root .card-body {
    position: relative;
    padding-top: 35%;
  }

  body#success-root button[type="submit"] {
    margin-top: unset;
    position: absolute;
    bottom: 2rem;
    left: 0;
  }

  body#success-root .card {
    width: 100vw;
  }

  .attribution {
    display: none;
  }

  .content {
    flex-direction: column-reverse;
  }

  .content > div:nth-child(2) {
    display: flex;
  }
}

body#success-root .card {
  max-width: 500px;
  border-radius: 2rem;
}

body#success-root h1.card-title {
  font-size: 3rem;
}

body#success-root .card-body {
  font-size: 0.9rem;
}
body#success-root p {
  margin-top: 1rem;
}

body#success-root button[type="submit"] {
  margin-top: 1.5rem;
}
body#success-root .card-body span {
  font-family: "Roboto-Bold", sans-serif;
}
